body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #120061;
}

header {
    background-color: #eef1f7;
    color: #0f0404;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(11, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0a0909;
    color: #f4f4f4;
}
